form {

  .ng-dirty {

    &.ng-valid {
      @extend .valid;
    }

    &.ng-invalid {
      @extend .invalid;
    }

  }

  select {

    border-color: #9e9e9e;

    &.ng-dirty {

      &.ng-valid {
        position: relative;
        left: -1px;
        border: 2px solid $success-color;
      }

      &.ng-invalid {
        position: relative;
        left: -1px;
        border: 2px solid $error-color;
      }

    }

  }

}