.contact {

  .social {

    a {
      position: relative;
      display: block;
      padding: 10px 0 10px 35px;
      color: $primary-color;

      &:hover {
        font-weight: bold;

        i {
          color: $ngc-primary-darken
        }
      }

      i {
        position: absolute;
        top: 5px;
        left: 0;
        color: $ngc-primary;
      }
    }
  }

  .form {
    background-color: $white;
    @extend .z-depth-2;
    padding: 20px;
    width: 100%;

    .select-wrapper {
      li span span {
        display: inline-block;
        width: 100px;
      }
    }

    .send {
      background-color: $ngc-primary;
    }
  }

}