.home {
  padding-top: 60px;
  min-height: 500px;

  h1 {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6em;

    -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.75);
    -moz-text-shadow: 0 0 10px rgba(0,0,0,0.75);
    text-shadow: 0 0 10px rgba(0,0,0,0.75);

    @media #{$medium-and-down} {
      font-size: 4.5em;
    }

    span {
      color: $ngc-primary;
    }
  }

  h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3em;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    -webkit-text-shadow: 0 0 10px rgba(255,255,255,1);
    -moz-text-shadow: 0 0 10px rgba(255,255,255,1);
    text-shadow: 0 0 10px rgba(255,255,255,1);

    @media #{$medium-and-down} {
      font-size: 2.5em;
    }
  }

}