html,
body {
  margin:0;
  padding:0;
  height:100%;
}

.wrapper {
  min-height:100%;
  position:relative;
}

.content {
  padding-bottom:240px;
}

.page-footer {
  position:absolute;
  bottom:0;
  width: 100%;
}



nav {

  $header-primary: color("materialize-red", "lighten-1");
  $header-secondary: color("materialize-red", "lighten-4");

  #logo-container {

    color: $primary-color;

    span {
      color: $primary-color-light;
      font-weight: bold;
    }

    img {
      float: left;
      position: relative;
      top: 2px;
      margin-right: 10px;
    }
  }

  ul {
    li {
      a {
        color: $header-primary;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          background-color: $white;
          border-bottom: 5px solid $header-secondary;
        }
      }
    }
  }

  .router-link-active {
    border-bottom: 5px solid $header-primary;
    padding-bottom: -5px;

    &:hover {
      background-color: $white;
      border-bottom: 5px solid $header-primary;
    }

    &#logo-container {
      border: 0px;
    }
  }
}

